/*  */

body {
  background: #555555;
  color: #212121;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 0;
}

h1 {
  color: blue;
}

form {
  background-color: azure;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#textbox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  color: aliceblue;
  background-color: cornflowerblue;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: crimson;
}

#result {
  font-size: 1.75em;
}
